{:itonami.blueprint/id "cloud-itonami-isic-6411"
 :itonami.blueprint/name "Central banking"
 :itonami.blueprint/isic-rev5 "6411"
 :itonami.blueprint/domain :finance/central-banking
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:financial-inclusion :data-sovereignty :transparency]
 :itonami.blueprint/governor :central-bank-reserve-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :banking]
 :itonami.blueprint/optional-technologies [:corporate-intelligence]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented}
