{:kotoba.app/id "cloud.itonami.isic-6411", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiffwlhul6fdv4kz7egpehs3764ls4lk6gr7dfqxcfm6rj7ipmvday", :kotoba.app/embed-url "ipfs://bafkreiffwlhul6fdv4kz7egpehs3764ls4lk6gr7dfqxcfm6rj7ipmvday", :published {:archive "https://kotobase.net/ipfs/bafkreiffwlhul6fdv4kz7egpehs3764ls4lk6gr7dfqxcfm6rj7ipmvday", :size 76380, :put-status 201, :get-status 200, :at "2026-08-15T14:01:20.033Z"}}
